@import url('https://fonts.googleapis.com/css?family=Acme');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

.MMM-NPMWeather .open {
    font-family: 'Open Sans Condensed';
}
.MMM-NPMWeather .div {
    vertical-align: middle;
    font-size: 10px;
}
.MMM-NPMWeather .humid {
    border: 1px solid #ff0000;
    -webkit-border-radius: 3px;
    height: 18px;
    width: 18px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0
}
.MMM-NPMWeather .hitemp {
    border: .5px solid #f9ff04;
    -webkit-border-radius: 2px;
    height: 18px;
    width: 18px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0
}
.MMM-NPMWeather .lowtemp {
    border: 1px solid #0f1bff;
    -webkit-border-radius: 2px;
    height: 18px;
    width: 18px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}