@import url('https://fonts.googleapis.com/css?family=Oswald');

.weatherimg {
   width: 45%;
   height: 45%;
}
.humordiv {
	width:100%;
	display:inline-block;
}
.MMM-OWeather .date{
	color:#a4dde8;
}
.MMM-OWeather .amclock {
	font-family: Oswald;
	align-items: center;
	color: #fce2b4;
	border-radius: 15px;
    border: 1px solid #73AD21;
    padding: 10px; 
    height: 15px;
}
.MMM-OWeather .eclock {
	font-family: Oswald;
	align-items: center;
	color: #c5ebfa;
	border-radius: 15px;
    border: 1px solid #73AD21;
    padding: 10px; 
    height: 15px;
}
.MMM-OWeather .pmclock {
	font-family: Oswald;
	color: #c7c0b8;
	font-weight: bold;
	border-radius: 15px;
    border: 1px solid #73AD21;
    padding: 10px; 
    height: 15px;
}
.humid {
    border: 1px solid #ff0000;
    -webkit-border-radius: 3px;
    height: 18px;
    width: 18px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0;
    font-weight: bold;
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

.hitemp {
    border: .5px solid #f9ff04;
    -webkit-border-radius: 2px;
    height: 18px;
    width: 18px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0;
    font-weight: bold;
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}
.lowtemp {
    border: .5px solid #0f1bff;
    -webkit-border-radius: 2px;
    height: 18px;
    width: 18px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

